.login {
 border-radius: 10px;
    /* height: 70vh; */
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.658);
    padding: 20px;
}
.login-container{
    height: 100vh;
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: center;
}
.login form {
    display:flex;
    flex-direction:column;
} 

.login form input {
    width: 300px;
    font-size: 25px;
    border-radius: 5px;
    border: 1px solid lightgray;
}
#or {
    text-align: center;
    position: relative;
}
#or::before{
    content: '';
    position: absolute;
    width: 45%;
    height: 2px;
    bottom: 40%;
    left: 0%;
    background: gray;
}
#or::after{
    content: '';
    position: absolute;
    width: 45%;
    height: 2px;
    bottom: 40%;
    right: 0%;
    background: gray;
}